/MERN/Express/002-ApiFalsa/node_modules
/MERN/Express/002-ApiFalsa/package-lock.json
/MERN/MongoDB/002-APIdeBromas/node_modules
/MERN/MongoDB/002-APIdeBromas/package-lock.json
/MERN/React/002-PrimerReactJSX/first-react-project/node_modules
/MERN/React/002-PrimerReactJSX/first-react-project/package-lock.json
/MERN/React/003-Apoyarlo/apoyarlo/package-lock.json
/MERN/React/003-Apoyarlo/apoyarlo/node_modules
/MERN/React/004-TodoJunto/apoyarlo/package-lock.json
/MERN/React/004-TodoJunto/apoyarlo/node_modules